<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Barra de progreso</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" [attr.ariaValuenow]="progreso1" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50" [style.width]="progreso1 +'%'"></div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" [attr.ariaValuenow]="progreso2" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50" [style.width]="progreso2 +'%'"></div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="progreso1 = $event" nombre='Progres Azul' [progreso]="progreso1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValor)="progreso2 = $event" nombre='Progres Verde' [progreso]="progreso2"></app-incrementador>
            </div>
        </div>
    </div>
</div>